
/* =============Global CSS================ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1{
  font-size: 50px;

  color: black;
}


h2{
    font-size: 46;
    
    color:black
}

h4{
    font-size: 20px;
    color: black;
}

h6{
    font-weight: 700;
    font-size: 12px;

}

p{
    font-size: 16px;
    color: grey;
    margin: 15px 28px 0;
}

.section-p1{
    padding: 40px 80px;

}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
}


/* Ads Section left*/

#fix-po{ 
    position: fixed;
    top: 300px;
    margin-right: 70%;
    margin-left: 35px;
    width: 150px;
    
}

/* Ads Section right*/

#fix-po2{ 
    position: fixed;
    top:300px;
    margin-left: 70%;
    margin-right: 35px;
    width: 150px;
    
}


/* Download Free btn */

 button {
  
    background-color: #4CAF50;
    border: none;
    
    color: rgb(2, 0, 0);
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    text-align: center;
    
    
    font-size: 16px;
   
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 15px;
    

  }

  button a:hover{
    color: aliceblue;
    
  }

  /* ====================Footer Secrtion=============== */
  footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 0;
  }   
  
  .container-foot{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-md-6 {
    width: 50%;
    text-align: left;
  }
  
  .footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  .footer-menu li {
    display: inline-block;
    margin-left: 30px;
  }
  
  .footer-menu li:first-child {
    margin-left: 0;
  }
  
  .footer-menu a {
    color: #666;
    text-decoration: none;
  }
  
  /* =================Abous us ============= */

.container-us {
    margin: 50px auto;
    max-width: 800px;
    padding: 0 20px;
}
.about-us {
    margin-bottom: 50px;
}
/* .section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.section p {
    line-height: 1.5;
    margin-bottom: 20px;
} */
.container-us .btn{
    text-decoration: none;
    /* font-size: 1.5rem;
    font-weight: 700;
    color: #000000; */

    display: block;
	margin: 20px auto;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	width: 200px;
	transition: all 0.3s ease;
}

.container-us .btn:hover{
    color: #fd4;
}

   

/* ================header=================== top */
#header{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 80px;
     background:rgb(247, 247, 240);
     box-shadow: 1px 1px 5px rgb(177, 174, 174);
     z-index: 999;
     position: sticky;
     top: 0;
     left: 0;
     position: relative;
}


#header img{
    position: absolute;
    top: 25px;
    left: 5px;
    width: 80px;

   
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
   
}

#navbar li a{
    text-decoration: none;
    font-size: 16;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}


#navbar li a:hover{
    color: red;


}

#navbar li a:hover,
#navbar li a.active{
 color: rgb(255, 3, 3);
}

#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background:rgb(255, 2, 2) ;
    position: absolute;
    bottom: -4px; 
    left: 20px;
}


/* Home page  */

#hero {
  
    background-image: url("image/header\ emblem.jpg");

    background-repeat: no-repeat;
    background: cover;
    height: 45vh;
    width: 100%;
    background-position: top 25% right 0;
    padding-top: 0; 
    padding-left: 40px;
    
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: rgb(25, 168, 187);
    
}

#hero #btn{
    background-image: url("image/button/final\ btn.png");
    background-color: transparent;
    background-repeat: no-repeat;
    text-decoration: none;
    /* border: 0; */
    font-size: 148%;
    margin-top: 15px;
    margin-left: 100px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 30;
    padding-right: 10%;
    cursor: pointer;
    font-weight: 700;
    
}

#hero a:hover{
    color: rgb(1, 255, 1);
}



#feature{
    background:rgba(3, 240, 248, 0.808);
    box-shadow: 20 20px 20 black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 170px;
    padding-top: 0px;
  
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 1px 50px;
    box-shadow: 0px 1px 15px rgb(148, 147, 147);
    border: dotted 1px;
    cursor: pointer;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 1px 1px 20px rgb(97, 96, 96);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}


#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: aqua;
    background-color: brown;

}

#feature .fe-box a{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: aqua;
    background-color: brown;

}

/* Product section */

#products1{
    text-align: center;
}

#products1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    
    
   
    
    
    
}



#products1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 1px 1px 20px rgb(136, 132, 132);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#products1 .pro:hover{
    box-shadow: 1px 1px 20px rgb(63, 62, 62);

}

/* Product rate star */

#products1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#products1 .pro img{
    width: 100%;
    border-radius: 20;
}


#products1 .pro img:hover{
transform: scale(1.2); /* magpapalaki ng 20% kapag naka-hover */
  transition: transform 0.3s ease; /* magpapakalma sa transition kapag nagbabago ng laki */
}


#products1 .pro .des span{ 
    color: gray;
    font-size: 12px;

}

#products1 .pro .des h5{
    padding: 7px;
    color: #1a1a1a;
    font-size: 14px;

}


#products1 .pro .des i{
    font-size: 20px;
    color: rgba(253, 207, 2, 0.993);

}

#products1 .pro  #sold {
    
    color: #1a1a1a;
    font-size: 14px;
    
    text-decoration: none;

}




#products1 .pro .des #sold a{
    
    color: #1a1a1a;
    font-size: 14px;
    
    text-decoration: none;

}

#products1 .pro .des  #rate {
    
    color: #000000;
    font-size: 14px;
    
}








/* ==================banner======================= */

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(image/SALE\ banner.jpg);
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}





    
    

